body,
h1, h2, h3, h4, h5, h6,
p,
ul,
hr {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
}

button,
input,
textarea {
    background-color: transparent;
    border: 0;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}

img,
svg {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}